<h1><%= @description %></h1>

<form action="/triangle">
  <div class="form-group">
    <label for="side1">Frist triangle side:</label>
    <input id="side1" name="side1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side2">Second triangle side:</label>
    <input id="side2" name="side2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side3">Third triangle side:</label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
